/*ApiPost 颜色变量 - 样式设置文件*/
:root {

  /* New apipost css reset start */

  --base-color-brand: #ff6c37;
  --base-color-info: #097bed;
  --base-color-error: #eb2013;
  --base-color-success: #0cbb52;
  --base-color-warning: #ffb400;

  --background-color-primary: #ffffff;
  --background-color-secondary: #f9f9f9;
  --background-color-tertiary: #f2f2f2;
  --background-modal-backdrop: rgba(26, 26, 26, 0.5);

  --content-color-primary: #212121;
  --content-color-secondary: #6b6b6b;
  --content-color-constant: #ffffff;
  --content-color-tertiary: #A6A6A6;

  --border-color-default: #ededed;
  --border-color-strong: #e6e6e6;

  --highlight-background-color-brand: #e05320;
  --highlight-background-color-info: #0265d2;
  --highlight-background-color-primary: #ededed;
  --highlight-background-color-tertiary: #e6e6e6;
  --highlight-background-color-secondary: #EDEDED;

  --scrollbar-thumb-background-color: #A6A6A6;
  --scrollbar-track-background-color: #EDEDED;

  --shadow-default: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);

  --text-select-color: rgb(180 215 255);

  --text-weight-regular: 400;
  --text-weight-medium: 600;
  --text-weight-bold: 600;
  /* New apipost css reset end */

  /* 删除红 */
  --delete-red: #FF4C4C;
  /* 运行绿 */
  --run-green: #3CC071;
  /* 一致白 */
  --common-white: #FFFFFF;
  /* 主题橙 */
  --theme-color: #EC663C;
  /* 操作日志 */
  /* 标签蓝 */
  --log-blue: #3A86FF;
  /* 标签绿 */
  --log-green: #3CC071;
  /* 标签橘 */
  --log-orange: #EC663C;
  /* 标签青 */
  --log-cyan: #35CAAF;
  /* 首页数据 */
  /* 数字1 */
  --index-1: #4D91FF;
  /* 数字2 */
  --index-2: #35CAAF;
  /* 数字3 */
  --index-3: #FF7043;
  /* 数字4 */
  --index-4: #00ACD7;
  /* 头像hover */
  --avatar: rgba(32, 33, 34, 0.2);
  /* 运行绿 */
  --run-green: #3CC071;
  /* 错误红 */
  --run-red: #C03C3C;
  
  /* 浅色模式 */

  --bg-1: #F9F9F9;
  --bg-2: #FFFFFF;
  --bg-3: #F4F4F4;
  --bg-4: #E9E9E9;
  --bg-5: #FEFEFE;
  /* 字体 */
  --font-color: #2B2B2B;
  /* icon */
  --icon-color: #2B2B2B;
  --font-1: #000000;
  --font-2: #999999;
  --font-3: #666666;
  --select: rgba(32, 33, 34, 0.08);

  --shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}