/*ApiPost 样式大小文件*/
:root {
    --size-12px: 12px;
    --size-14px: 12px;
    --size-16px: 14px;
    --size-18px: 16px;
    --size-20px: 18px;
    --size-24px: 22px;
    --size-28px: 25px;
    --size-40px: 36px;
    --size-42px: 38px;
}