/*ApiPost 样式大小文件*/
:root {
    --size-12px: 13px;
    --size-14px: 15px;
    --size-16px: 18px;
    --size-18px: 20px;
    --size-20px: 22px;
    --size-24px: 26px;
    --size-28px: 31px;
    --size-40px: 44px;
    --size-42px: 46px;
}