/*ApiPost 样式大小文件*/
:root {
    --size-12px: 14px;
    --size-14px: 17px;
    --size-16px: 19px;
    --size-18px: 21px;
    --size-20px: 24px;
    --size-24px: 28px;
    --size-28px: 34px;
    --size-40px: 46px;
    --size-42px: 48px;
}